__pycache__
*.pkl
videos
img
img_sony
img_webcam
mobile_calib_img
calib_grid_video
*.mp4
*.MP4
*.avi
*.THM
*.jpg
*.pmg
*.txt
*.py[co]
*.yaml
*.mkv
tip_calibration
OP_analysis/
.DS_Store
*/tempCodeRunnerfile.py
*/images